body {
	font-family: Courier New, Verdana, serif;
    font-style: oblique;
    font-weight: 600;
    background-color: #808080;
    color: blue;
}

h1 {
	font-family: Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: 600;
	text-shadow: 2px 4px 3px black;
}

h3 {
	font-family: Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: 600;
}

img {
	padding: 1px;
	border: 1px solid;
	/*background-color:rgb(145, 2, 85, 2);*/
	background-color: hsl(270, 100%, 50%)


}

section {
	color: #ff00ff;
	font-family: cursive;
}

a {
	color:purple;
	text-decoration: underline;
}

a.highlight:hover {
	color: green;
}

a:hover{
	color: orange;
}
button{
	font-family: 'Anton', sans-serif;
	
}
summary {
	text-shadow: 1px 1px 1px blue;
}